
<br><br><br>
<!-- each link needs to be a link to the list of threads IN that subreddit. So a list of forums (for that subreddit) 

so forums.all for that particular thread. So forums.index

needs to link to....

<h1>Forums#index</h1>
<p>Find me in app/views/forums/index.html.erb</p>

forums index
-->

subKeddit: <%= @sub_keddit_name %>

<br><br>

<% @forums.each do |forum| %>
	

	<%= link_to forum.title , 
				get_forum_path(sub_keddit_name: @sub_keddit_name, 
								forum_unique_num: forum.unique_num ,
								forum_title: forum.url_friendly_title) %> 
		
	<br>
	<br>
<%end%>
