<h1>Users#front_page</h1>
<p>Find me in app/views/users/front_page.html.erb</p>

<% content_for :lower_body do %>

<%= link_to "sign in" , users_sign_in_path %>
<br>
<br>
<%= link_to "sign out" , users_sign_out_path %>
<br>
<br>
<%= link_to "sign up" , users_sign_up_path %>
<!--<%= link_to "sign up" , new_user_path %>-->


  
<% end %>





