
<script src="app/assets/javascripts/user_testing_page_save_button_code.js"></script>
<script src="app/assets/javascripts/user_testing_page_cancel_button_code.js"></script>
<script src="app/assets/javascripts/user_testing_page_edit_button_code.js"></script>
<script src="app/assets/javascripts/user_testing_page_delete_button_code.js"></script>



<h1>Users#testing_page</h1>
<p>Find me in app/views/users/testing_page.html.erb</p>




<% if session[:user_name] %>
	<p id = "user_greeting_signed_in"> hi <%= session[:user_name] %>!</p>
<% else %>
	<p id = "user_greeting_not_signed_in"> hello non signed in user! </p>
<% end %>

<!--

<% @posts.each do |post| %>
  <p><%= post.content %></p>
<% end %>

<p>-----------------------------</p>

-->



<!--<%until @moreRecent < @oldest  do %>
   <%= @posts[@moreRecent].content %>
  <% @moreRecent -= 1 %>
  <br>
<% end %>-->
<br>


<textarea rows="6" cols="35" id = "testing_page_text_box">
</textarea>
<br>
<input name="commit" type="submit" value="submit post" id="submit_post_button" />

<p id = "commenters_posts"></p>

<script>

$(document).ready(function(){

	run();

  

  $(document).on("click", ".delete_comment", function(){
      //console.log(this);
      console.log("going in here for some unknown reason???");
      delete_this_comment(this);
  });


  // $(document).on("click", ".edit_comment", function(){
  //     //console.log(this);
  //     //edit_this_comment(this);
  //     edit_comment(this);
  // });

  // $(document).on("click", ".save_modifications_to_comment", function(){
  //     edit_this_comment(this);
  // });

  $(document).on("click", ".cancel_modifications_to_comment", function(){
      console.log("seeing this click???");
      go_back_to_previous_setup(this);
  });

	$("#submit_post_button").click(function(){
		var post = document.getElementById("testing_page_text_box");
		//console.log(post);
		post_submission(post.value);
    //run();
	 });

  //console.log("continuing loop");


});


</script>
